body{
    margin: 0;
    font-family: "Merienda";
}
hr{
    margin-top: 0;
    border: 0;
    width: 60%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 40px;
}
.fa-volume-up{
    color: blue;
    font-size: 30px;
}
#pronounce{
    margin-left: 10px;
    background: none;
    border: none;
}
#header{
    background-color: cadetblue;
    align-items: center;
    text-align: right;
    text-align: -webkit-right;
    font-size: 24px;
    padding-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.formElem{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
#inputWord{
    height: 30px;
    width: 300px;
    padding: 6px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    border-radius: 10px;
}
#inputWord:focus{
    box-shadow: 0px 0px 5px blue;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
#goSearch{
    width: 100px;
    border-radius: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%)
}

#goSearch {
    margin: 10px;
    padding: 14px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
}

#goSearch:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
#searchedWord{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 0;
}
#phonetic{
    padding-left: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;;
    text-transform: capitalize;
    text-decoration: unset;
}
.subheadings{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    opacity: 80%;
}
#origin{
    opacity: 60%;
}
.content{
    padding-left: 20px;
}
.example{
    padding-left: 40px;
    opacity: 50%;
    margin-bottom: 50px;
}
#dynamicMain{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 1%;
}
#info{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-right: auto;
    align-items: center;
}
.pcard{
    padding: 10px;
    box-shadow: 0px 0px 6px blue;
    margin-bottom: 18px;
    border-radius: 10px;
}
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 1rem;
font-weight: 300;
}

.wave {
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 100px;
background: url("https://i.ibb.co/wQZVxxk/wave.png");
background-size: 1000px 100px;
}

.wave#wave1 {
z-index: 1000;
opacity: 1;
bottom: 0;
animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
z-index: 999;
opacity: 0.5;
bottom: 10px;
animation: animate 4s linear infinite !important;
}

.wave#wave3 {
z-index: 1000;
opacity: 0.2;
bottom: 15px;
animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
z-index: 999;
opacity: 0.7;
bottom: 20px;
animation: animate 3s linear infinite;
}

@keyframes animateWaves {
0% {
    background-position-x: 1000px;
}
100% {
    background-positon-x: 0px;
}
}

@keyframes animate {
0% {
    background-position-x: -1000px;
}
100% {
    background-positon-x: 0px;
}
}
