body{
    margin: 0;
    font-family: "Merienda";
}
hr{
    margin-top: 0;
    border: 0;
    width: 60%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 40px;
}
.fa-volume-up{
    color: blue;
    font-size: 30px;
}
#pronounce{
    margin-left: 10px;
    background: none;
    border: none;
}
#header{
    background-color: cadetblue;
    align-items: center;
    text-align: right;
    text-align: -webkit-right;
    font-size: 24px;
    padding-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.formElem{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
#inputWord{
    height: 30px;
    width: 300px;
    padding: 6px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    border-radius: 10px;
}
#inputWord:focus{
    box-shadow: 0px 0px 5px blue;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
#goSearch{
    width: 100px;
    border-radius: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%)
}

#goSearch {
    margin: 10px;
    padding: 14px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
}

#goSearch:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
#searchedWord{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 0;
}
#phonetic{
    padding-left: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;;
    text-transform: capitalize;
    text-decoration: unset;
}
.subheadings{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    opacity: 80%;
}
#origin{
    opacity: 60%;
}
.content{
    padding-left: 20px;
}
.example{
    padding-left: 40px;
    opacity: 50%;
    margin-bottom: 50px;
}
#dynamicMain{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 1%;
}
#info{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-right: auto;
    align-items: center;
}
.pcard{
    padding: 10px;
    box-shadow: 0px 0px 6px blue;
    margin-bottom: 18px;
    border-radius: 10px;
}
